/* @media (min-width: 1200px){
    
} */

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  #header .container {
    max-width: 768px;
    width: 100%;
    margin-top: 0;
    display: flex;
  }
  #header .left h2 {
    font-size: 50px;
  }
  #header .right {
    padding-top: 85px;
  }
  #header .right img {
    height: 400px;
  }
  #header .left .btn {
    padding: 20px 30px;
    margin: 0;
  }
  #blog .container {
    max-width: 992px;
    display: block;
  }
  #blog .left {
    width: 100%;
    height: 97px;
  }
  #blog .left ul {
    display: flex;
  }
  #blog .left ul li {
    width: 33.33%;
  }
  #blog .right {
    width: 100%;
    margin-left: 0;
  }
  #blog .right .d-flex {
    display: block;
  }
  #blog .right .d-flex .card {
    max-width: 46% !important;
    display: inline-block;
  }
}

@media (max-width: 420px) {
  #header .container {
    max-width: 420px;
    display: block;
    margin-top: 0;
  }
  #header .left,
  #header .right {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  #header .left h2 {
    font-size: 35px;
  }
  .tablet {
    padding: 40px;
    text-align: center;
  }

  #header .left .btn {
    margin: 20px auto;
  }

  #header .right img {
    height: 350px;
  }

  /* blog responsive */
  #blog .container {
    max-width: 420px;
    display: block;
  }

  #blog .left {
    width: 100%;
    height: 223px;
  }
  #blog .left ul{
    display: block;
  }
  #blog .left ul li{
    width: 77%;
  }
  #blog .right {
    width: 100%;
    margin-left: 0;
  }
  #blog .right .d-flex {
    display: block;
  }
  #blog .right .d-flex .card {
    max-width: 100%;
    margin: 20px 0;
    display: inline;
  }

  #footer .container .d-flex {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0px;
  }

  #footer .container .d-flex li a {
    font-size: 22px;
  }

  #footer .container .d-flex li {
    margin: 15px 0;
  }
}
